body {
  background-color: #f2ece4;
}

section .row img {
  margin: 20px;
  width: 100%;
}

img {
  width:100%;
  max-width:350px;
}

.container {
  padding: 20px;
}

.jumbotron {
  align-items: center;
  background-size: cover;
  background-color: #f2ece4;
}

.fa-envelope {
  color:#ADB4A1; 
}

.fa-linkedin {
  color: #869A86;
}

.fa-github {
  color: #5E8070;
}

.fa-twitter {
  color: #336760;
}
/*
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');
@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,600,900");

body {
    background-color: #f3ebe1;
  }
  
  header {
    padding: 20px 20px;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 10;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }

  img {
    width:100%;
    max-width:300px;
  }
  
  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 20px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 20px 0 20px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }
  */