body {
  background-color: #f2ece4;
}

section .row img {
  margin: 20px;
  width: 100%;
}

img {
  width:100%;
  max-width:350px;
}

.container {
  padding: 20px;
}

.jumbotron {
  align-items: center;
  background-size: cover;
  background-color: #f2ece4;
}

.fa-envelope {
  color:#C3ADB3; 
}

.fa-linkedin {
  color: #E2C1C0;
}

.fa-github {
  color: #D29380;
}

.fa-twitter {
  color: #CCB97E;
}
