body {
  background-color: #f2ece4;
}

section .row img {
  margin: 20px;
  width: 100%;
}

img {
  width:100%;
  max-width:350px;
}

.container {
  padding: 20px;
}

.jumbotron {
  align-items: center;
  background-size: cover;
  background-color: #f2ece4;
}

.fa-envelope {
  color:#ADB4A1; 
}

.fa-linkedin {
  color: #869A86;
}

.fa-github {
  color: #5E8070;
}

.fa-twitter {
  color: #336760;
}